{
  "info": { "title": "Positions", "version": "4.38.2" },
  "swagger": "2.0",
  "produces": ["application/json"],
  "host": "api.tastyworks.com",
  "tags": [
    { "name": "positions", "description": "Operations about positions" },
    { "name": "accounts", "description": "Operations about accounts" },
    { "name": "balance-snapshots", "description": "Operations about balance-snapshots" }
  ],
  "paths": {
    "/accounts/{account_number}/positions": {
      "get": {
        "description": "Returns a list of the account's positions.\n            Can be filtered by symbol, underlying_symbol",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "underlying-symbol",
            "description": "An array of Underlying symbol(s) for positions (example: underlying-symbol[]={value1}&underlying-symbol[]={value2})",
            "type": "array",
            "items": { "type": "string" },
            "required": false
          },
          {
            "in": "query",
            "name": "symbol",
            "description": "A single symbol. Stock Ticker Symbol `AAPL`, \\\n                                 OCC Option Symbol `AAPL  191004P00275000`, \\\n                                 TW Future Symbol `/ESZ9`, or \\\n                                 TW Future Option Symbol `./ESZ9 EW4U9 190927P2975`",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "instrument-type",
            "description": "The type of Instrument",
            "type": "string",
            "enum": [
              "Bond",
              "Cryptocurrency",
              "Currency Pair",
              "Equity",
              "Equity Offering",
              "Equity Option",
              "Future",
              "Future Option",
              "Index",
              "Unknown",
              "Warrant"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "include-closed-positions",
            "description": "If closed positions should be included in the query",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "query",
            "name": "underlying-product-code",
            "description": "The underlying Future's Product code. i.e `ES`",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "partition-keys",
            "description": "Account partition keys (example: partition-keys[]={value1}&partition-keys[]={value2})",
            "type": "array",
            "items": { "type": "string" },
            "required": false
          },
          {
            "in": "query",
            "name": "net-positions",
            "description": "Returns net positions grouped by instrument type and symbol",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "query",
            "name": "include-marks",
            "description": "Include current quote mark (note: can decrease performance)",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "path",
            "name": "account_number",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of the account's positions.\n            Can be filtered by symbol, underlying_symbol",
            "schema": { "type": "array", "items": { "$ref": "#/definitions/CurrentPosition" } }
          }
        },
        "tags": ["positions"],
        "operationId": "getAccountsAccountNumberPositions"
      }
    },
    "/accounts/{account_number}/balances": {
      "get": {
        "description": "Returns the current balance values for an account",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "description": "Currency balance to get for account",
            "type": "string",
            "default": "USD",
            "required": false
          },
          {
            "in": "path",
            "name": "account_number",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current balance values for an account",
            "schema": { "$ref": "#/definitions/AccountBalance" }
          }
        },
        "tags": ["accounts"],
        "operationId": "getAccountsAccountNumberBalances"
      }
    },
    "/accounts/{account_number}/balances/{currency}": {
      "get": {
        "description": "Returns the current balance values for an account and currency",
        "produces": ["application/json"],
        "parameters": [
          { "in": "path", "name": "currency", "type": "string", "required": true },
          {
            "in": "path",
            "name": "account_number",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current balance values for an account and currency",
            "schema": { "$ref": "#/definitions/AccountBalance" }
          }
        },
        "tags": ["accounts"],
        "operationId": "getAccountsAccountNumberBalancesCurrency"
      }
    },
    "/accounts/{account_number}/balance-snapshots": {
      "get": {
        "description": "Returns most recent snapshot and current balance for an account",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "per-page",
            "type": "integer",
            "format": "int32",
            "default": 250,
            "minimum": 1,
            "maximum": 2000,
            "required": false
          },
          {
            "in": "query",
            "name": "page-offset",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "currency",
            "description": "Currency",
            "type": "string",
            "default": "USD",
            "required": false
          },
          {
            "in": "query",
            "name": "snapshot-date",
            "description": "The day of the balance snapshot to retrieve",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "time-of-day",
            "description": "The abbreviation for the time of day.",
            "type": "string",
            "enum": ["EOD", "BOD"],
            "required": true
          },
          {
            "in": "query",
            "name": "start-date",
            "description": "The first date in a range of dates to retrieve",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "end-date",
            "description": "The last date in a range of dates to retrieve",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "path",
            "name": "account_number",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns most recent snapshot and current balance for an account",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/AccountBalanceSnapshot" }
            }
          }
        },
        "tags": ["balance-snapshots"],
        "operationId": "getAccountsAccountNumberBalanceSnapshots"
      }
    }
  },
  "definitions": {
    "CurrentPosition": {
      "type": "object",
      "properties": {
        "account-number": { "description": "", "type": "string" },
        "symbol": { "description": "", "type": "string" },
        "instrument-type": { "description": "", "type": "string" },
        "underlying-symbol": { "description": "", "type": "string" },
        "quantity": { "description": "", "type": "object" },
        "quantity-direction": { "description": "", "type": "string" },
        "close-price": { "description": "", "type": "number", "format": "double" },
        "average-open-price": { "description": "", "type": "number", "format": "double" },
        "average-yearly-market-close-price": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "average-daily-market-close-price": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "mark": { "description": "", "type": "number", "format": "double" },
        "mark-price": { "description": "", "type": "number", "format": "double" },
        "multiplier": { "description": "", "type": "integer", "format": "int32" },
        "cost-effect": { "description": "", "type": "string" },
        "is-suppressed": { "description": "", "type": "boolean" },
        "is-frozen": { "description": "", "type": "boolean" },
        "restricted-quantity": { "description": "", "type": "object" },
        "expires-at": { "description": "", "type": "string", "format": "date-time" },
        "fixing-price": { "description": "", "type": "number", "format": "double" },
        "deliverable-type": { "description": "", "type": "string" },
        "realized-day-gain": { "description": "", "type": "number", "format": "double" },
        "realized-day-gain-effect": { "description": "", "type": "string" },
        "realized-day-gain-date": { "description": "", "type": "string", "format": "date" },
        "realized-today": { "description": "", "type": "number", "format": "double" },
        "realized-today-effect": { "description": "", "type": "string" },
        "realized-today-date": { "description": "", "type": "string", "format": "date" },
        "created-at": { "description": "", "type": "string", "format": "date-time" },
        "updated-at": { "description": "", "type": "string", "format": "date-time" },
        "order-id": { "description": "", "type": "integer", "format": "int32" }
      },
      "description": "CurrentPosition model"
    },
    "AccountBalance": {
      "type": "object",
      "properties": {
        "account-number": { "description": "", "type": "string" },
        "currency": { "description": "", "type": "string" },
        "cash-balance": { "description": "", "type": "number", "format": "double" },
        "long-equity-value": { "description": "", "type": "number", "format": "double" },
        "short-equity-value": { "description": "", "type": "number", "format": "double" },
        "long-derivative-value": { "description": "", "type": "number", "format": "double" },
        "short-derivative-value": { "description": "", "type": "number", "format": "double" },
        "long-futures-value": { "description": "", "type": "number", "format": "double" },
        "short-futures-value": { "description": "", "type": "number", "format": "double" },
        "long-futures-derivative-value": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "short-futures-derivative-value": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "long-margineable-value": { "description": "", "type": "number", "format": "double" },
        "short-margineable-value": { "description": "", "type": "number", "format": "double" },
        "margin-equity": { "description": "", "type": "number", "format": "double" },
        "equity-buying-power": { "description": "", "type": "number", "format": "double" },
        "derivative-buying-power": { "description": "", "type": "number", "format": "double" },
        "day-trading-buying-power": { "description": "", "type": "number", "format": "double" },
        "futures-margin-requirement": { "description": "", "type": "number", "format": "double" },
        "available-trading-funds": { "description": "", "type": "number", "format": "double" },
        "maintenance-requirement": { "description": "", "type": "number", "format": "double" },
        "maintenance-call-value": { "description": "", "type": "number", "format": "double" },
        "reg-t-call-value": { "description": "", "type": "number", "format": "double" },
        "day-trading-call-value": { "description": "", "type": "number", "format": "double" },
        "day-equity-call-value": { "description": "", "type": "number", "format": "double" },
        "net-liquidating-value": { "description": "", "type": "number", "format": "double" },
        "cash-available-to-withdraw": { "description": "", "type": "number", "format": "double" },
        "day-trade-excess": { "description": "", "type": "number", "format": "double" },
        "pending-cash": { "description": "", "type": "number", "format": "double" },
        "pending-cash-effect": { "description": "", "type": "string" },
        "long-cryptocurrency-value": { "description": "", "type": "number", "format": "double" },
        "short-cryptocurrency-value": { "description": "", "type": "number", "format": "double" },
        "cryptocurrency-margin-requirement": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "unsettled-cryptocurrency-fiat-amount": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "unsettled-cryptocurrency-fiat-effect": { "description": "", "type": "string" },
        "closed-loop-available-balance": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "equity-offering-margin-requirement": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "long-bond-value": { "description": "", "type": "number", "format": "double" },
        "bond-margin-requirement": { "description": "", "type": "number", "format": "double" },
        "used-derivative-buying-power": { "description": "", "type": "number", "format": "double" },
        "special-memorandum-account-value": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "special-memorandum-account-apex-adjustment": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "total-settle-balance": { "description": "", "type": "number", "format": "double" },
        "margin-settle-balance": { "description": "", "type": "number", "format": "double" },
        "cash-settle-balance": { "description": "", "type": "number", "format": "double" },
        "sma-equity-option-buying-power": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "snapshot-date": { "description": "", "type": "string", "format": "date" },
        "time-of-day": { "description": "", "type": "string" },
        "reg-t-margin-requirement": { "description": "", "type": "number", "format": "double" },
        "futures-overnight-margin-requirement": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "futures-intraday-margin-requirement": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "maintenance-excess": { "description": "", "type": "number", "format": "double" },
        "pending-margin-interest": { "description": "", "type": "number", "format": "double" },
        "apex-starting-day-margin-equity": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "buying-power-adjustment": { "description": "", "type": "number", "format": "double" },
        "buying-power-adjustment-effect": { "description": "", "type": "string" },
        "effective-cryptocurrency-buying-power": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "updated-at": { "description": "", "type": "string", "format": "date-time" }
      },
      "description": "AccountBalance model"
    },
    "AccountBalanceSnapshot": {
      "type": "object",
      "properties": {
        "account-number": { "description": "", "type": "string" },
        "currency": { "description": "", "type": "string" },
        "cash-balance": { "description": "", "type": "number", "format": "double" },
        "long-equity-value": { "description": "", "type": "number", "format": "double" },
        "short-equity-value": { "description": "", "type": "number", "format": "double" },
        "long-derivative-value": { "description": "", "type": "number", "format": "double" },
        "short-derivative-value": { "description": "", "type": "number", "format": "double" },
        "long-futures-value": { "description": "", "type": "number", "format": "double" },
        "short-futures-value": { "description": "", "type": "number", "format": "double" },
        "long-futures-derivative-value": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "short-futures-derivative-value": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "long-margineable-value": { "description": "", "type": "number", "format": "double" },
        "short-margineable-value": { "description": "", "type": "number", "format": "double" },
        "margin-equity": { "description": "", "type": "number", "format": "double" },
        "equity-buying-power": { "description": "", "type": "number", "format": "double" },
        "derivative-buying-power": { "description": "", "type": "number", "format": "double" },
        "day-trading-buying-power": { "description": "", "type": "number", "format": "double" },
        "futures-margin-requirement": { "description": "", "type": "number", "format": "double" },
        "available-trading-funds": { "description": "", "type": "number", "format": "double" },
        "maintenance-requirement": { "description": "", "type": "number", "format": "double" },
        "maintenance-call-value": { "description": "", "type": "number", "format": "double" },
        "reg-t-call-value": { "description": "", "type": "number", "format": "double" },
        "day-trading-call-value": { "description": "", "type": "number", "format": "double" },
        "day-equity-call-value": { "description": "", "type": "number", "format": "double" },
        "net-liquidating-value": { "description": "", "type": "number", "format": "double" },
        "cash-available-to-withdraw": { "description": "", "type": "number", "format": "double" },
        "day-trade-excess": { "description": "", "type": "number", "format": "double" },
        "pending-cash": { "description": "", "type": "number", "format": "double" },
        "pending-cash-effect": { "description": "", "type": "string" },
        "long-cryptocurrency-value": { "description": "", "type": "number", "format": "double" },
        "short-cryptocurrency-value": { "description": "", "type": "number", "format": "double" },
        "cryptocurrency-margin-requirement": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "unsettled-cryptocurrency-fiat-amount": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "unsettled-cryptocurrency-fiat-effect": { "description": "", "type": "string" },
        "closed-loop-available-balance": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "equity-offering-margin-requirement": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "long-bond-value": { "description": "", "type": "number", "format": "double" },
        "bond-margin-requirement": { "description": "", "type": "number", "format": "double" },
        "used-derivative-buying-power": { "description": "", "type": "number", "format": "double" },
        "special-memorandum-account-value": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "special-memorandum-account-apex-adjustment": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "total-settle-balance": { "description": "", "type": "number", "format": "double" },
        "margin-settle-balance": { "description": "", "type": "number", "format": "double" },
        "cash-settle-balance": { "description": "", "type": "number", "format": "double" },
        "sma-equity-option-buying-power": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "snapshot-date": { "description": "", "type": "string", "format": "date" },
        "time-of-day": { "description": "", "type": "string" }
      },
      "description": "AccountBalanceSnapshot model"
    }
  }
}
