{
  "info": { "title": "Market Sessions", "version": "0.18.5" },
  "swagger": "2.0",
  "produces": ["application/json"],
  "host": "api.tastyworks.com",
  "tags": [{ "name": "market-time", "description": "Operations about market-times" }],
  "paths": {
    "/market-time/sessions": {
      "get": {
        "description": "Retrieve a list of session timings for a date range",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "from-date",
            "description": "The date to start from",
            "type": "string",
            "format": "date",
            "default": "2025-05-29",
            "required": false
          },
          {
            "in": "query",
            "name": "instrument-collection",
            "description": "The instrument collection to get sessions for",
            "type": "string",
            "default": "Equity",
            "enum": ["Equity", "CME", "CFE", "Zero Hash CLOB"],
            "required": false
          },
          {
            "in": "query",
            "name": "to-date",
            "description": "The date to end at, the difference between from and to date must not exceed 9 months",
            "type": "string",
            "format": "date",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a list of session timings for a date range",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/SimpleSessionDeserializer" }
            }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeSessions"
      }
    },
    "/market-time/sessions/current": {
      "get": {
        "description": "Retrieve the current session timings for an instrument collection",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "instrument-collections",
            "description": "List of instrument collections . i.e. `CFE`, `CME`, `Equity` or `Smalls` (example: instrument-collections[]={value1}&instrument-collections[]={value2})",
            "type": "array",
            "items": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the current session timings for an instrument collection",
            "schema": { "$ref": "#/definitions/CurrentSessionDeserializer" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeSessionsCurrent"
      }
    },
    "/market-time/equities/sessions/current": {
      "get": {
        "description": "Get current equities session",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "current-time",
            "description": "The time the current session is based on",
            "type": "string",
            "format": "date-time",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get current equities session",
            "schema": { "$ref": "#/definitions/CurrentSession" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeEquitiesSessionsCurrent"
      }
    },
    "/market-time/equities/sessions/next": {
      "get": {
        "description": "Get next equities session or session after date",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "Find session on or after this date",
            "type": "string",
            "format": "date",
            "default": "2025-05-29",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get next equities session or session after date",
            "schema": { "$ref": "#/definitions/NextSession" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeEquitiesSessionsNext"
      }
    },
    "/market-time/equities/sessions/previous": {
      "get": {
        "description": "Get previous session or session before date",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "Find session before this date",
            "type": "string",
            "format": "date",
            "default": "2025-05-29",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get previous session or session before date",
            "schema": { "$ref": "#/definitions/PreviousSession" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeEquitiesSessionsPrevious"
      }
    },
    "/market-time/equities/holidays": {
      "get": {
        "description": "Get equity holidays",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Get equity holidays",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/MarketCalendarDeserializer" }
            }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeEquitiesHolidays"
      }
    },
    "/market-time/futures/sessions/current": {
      "get": {
        "description": "Get current futures sessions",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Get current futures sessions",
            "schema": { "type": "array", "items": { "$ref": "#/definitions/CurrentSession" } }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeFuturesSessionsCurrent"
      }
    },
    "/market-time/futures/sessions/current/{instrument_collection}": {
      "get": {
        "description": "Get current futures session for exchange",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "path",
            "name": "instrument_collection",
            "description": "Futures exchange, one of: CFE, CME, Smalls",
            "type": "string",
            "enum": ["CFE", "CME", "Smalls"],
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get current futures session for exchange",
            "schema": { "$ref": "#/definitions/CurrentSession" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeFuturesSessionsCurrentInstrumentCollection"
      }
    },
    "/market-time/futures/sessions/next/{instrument_collection}": {
      "get": {
        "description": "Get next futures session for exchange",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "path",
            "name": "instrument_collection",
            "description": "Futures exchange, one of: CFE, CME, Smalls",
            "type": "string",
            "enum": ["CFE", "CME", "Smalls"],
            "required": true
          },
          {
            "in": "query",
            "name": "date",
            "description": "Find session on or after this date",
            "type": "string",
            "format": "date",
            "default": "2025-05-29",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get next futures session for exchange",
            "schema": { "$ref": "#/definitions/NextSession" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeFuturesSessionsNextInstrumentCollection"
      }
    },
    "/market-time/futures/sessions/previous/{instrument_collection}": {
      "get": {
        "description": "Get previous futures sessions for exchange",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "path",
            "name": "instrument_collection",
            "description": "Futures exchange, one of: CFE, CME, Smalls",
            "type": "string",
            "enum": ["CFE", "CME", "Smalls"],
            "required": true
          },
          {
            "in": "query",
            "name": "date",
            "description": "Find session before this date",
            "type": "string",
            "format": "date",
            "default": "2025-05-29",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get previous futures sessions for exchange",
            "schema": { "$ref": "#/definitions/PreviousSession" }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeFuturesSessionsPreviousInstrumentCollection"
      }
    },
    "/market-time/futures/holidays/{instrument_collection}": {
      "get": {
        "description": "Get future holidays for exchange",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "path",
            "name": "instrument_collection",
            "description": "Futures exchange, one of: CFE, CME, Smalls",
            "type": "string",
            "enum": ["CFE", "CME", "Smalls"],
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get future holidays for exchange",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/MarketCalendarDeserializer" }
            }
          }
        },
        "tags": ["market-time"],
        "operationId": "getMarketTimeFuturesHolidaysInstrumentCollection"
      }
    }
  },
  "definitions": {
    "SimpleSessionDeserializer": {
      "type": "object",
      "properties": {
        "close-at": { "description": "", "type": "string", "format": "date-time" },
        "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
        "instrument-collection": { "description": "", "type": "string" },
        "open-at": { "description": "", "type": "string", "format": "date-time" },
        "start-at": { "description": "", "type": "string", "format": "date-time" }
      },
      "description": "SimpleSessionDeserializer model"
    },
    "CurrentSessionDeserializer": {
      "type": "object",
      "properties": {
        "close-at": { "description": "", "type": "string", "format": "date-time" },
        "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
        "instrument-collection": { "description": "", "type": "string" },
        "open-at": { "description": "", "type": "string", "format": "date-time" },
        "start-at": { "description": "", "type": "string", "format": "date-time" },
        "next-session": {
          "description": "",
          "type": "object",
          "properties": {
            "close-at": { "description": "", "type": "string", "format": "date-time" },
            "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
            "instrument-collection": { "description": "", "type": "string" },
            "open-at": { "description": "", "type": "string", "format": "date-time" },
            "session-date": { "description": "", "type": "string", "format": "date" },
            "start-at": { "description": "", "type": "string", "format": "date-time" }
          }
        },
        "previous-session": {
          "description": "",
          "type": "object",
          "properties": {
            "close-at": { "description": "", "type": "string", "format": "date-time" },
            "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
            "instrument-collection": { "description": "", "type": "string" },
            "open-at": { "description": "", "type": "string", "format": "date-time" },
            "session-date": { "description": "", "type": "string", "format": "date" },
            "start-at": { "description": "", "type": "string", "format": "date-time" }
          }
        },
        "state": { "description": "", "type": "string" }
      },
      "description": "CurrentSessionDeserializer model"
    },
    "CurrentSession": {
      "type": "object",
      "properties": {
        "close-at": { "description": "", "type": "string", "format": "date-time" },
        "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
        "instrument-collection": { "description": "", "type": "string" },
        "open-at": { "description": "", "type": "string", "format": "date-time" },
        "start-at": { "description": "", "type": "string", "format": "date-time" },
        "next-session": {
          "description": "",
          "type": "object",
          "properties": {
            "close-at": { "description": "", "type": "string", "format": "date-time" },
            "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
            "instrument-collection": { "description": "", "type": "string" },
            "open-at": { "description": "", "type": "string", "format": "date-time" },
            "session-date": { "description": "", "type": "string", "format": "date" },
            "start-at": { "description": "", "type": "string", "format": "date-time" }
          }
        },
        "previous-session": {
          "description": "",
          "type": "object",
          "properties": {
            "close-at": { "description": "", "type": "string", "format": "date-time" },
            "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
            "instrument-collection": { "description": "", "type": "string" },
            "open-at": { "description": "", "type": "string", "format": "date-time" },
            "session-date": { "description": "", "type": "string", "format": "date" },
            "start-at": { "description": "", "type": "string", "format": "date-time" }
          }
        },
        "state": { "description": "", "type": "string" }
      },
      "description": "CurrentSession model"
    },
    "NextSession": {
      "type": "object",
      "properties": {
        "close-at": { "description": "", "type": "string", "format": "date-time" },
        "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
        "instrument-collection": { "description": "", "type": "string" },
        "open-at": { "description": "", "type": "string", "format": "date-time" },
        "session-date": { "description": "", "type": "string", "format": "date" },
        "start-at": { "description": "", "type": "string", "format": "date-time" }
      },
      "description": "NextSession model"
    },
    "PreviousSession": {
      "type": "object",
      "properties": {
        "close-at": { "description": "", "type": "string", "format": "date-time" },
        "close-at-ext": { "description": "", "type": "string", "format": "date-time" },
        "instrument-collection": { "description": "", "type": "string" },
        "open-at": { "description": "", "type": "string", "format": "date-time" },
        "session-date": { "description": "", "type": "string", "format": "date" },
        "start-at": { "description": "", "type": "string", "format": "date-time" }
      },
      "description": "PreviousSession model"
    },
    "MarketCalendarDeserializer": {
      "type": "object",
      "properties": {
        "market-half-days": { "description": "", "type": "object" },
        "market-holidays": { "description": "", "type": "object" }
      },
      "description": "MarketCalendarDeserializer model"
    }
  }
}
